@import 'longform-styles';
@import 'philly-styles/values';
@import 'video-strip';

body {
  // background-color: rgb(241, 241, 241)!important;
}

.custom-social-share {
  @include tablet {
    display: none;
  }
}

.col-md-9 img {
  margin-top: 60px;
  @include mobile {
    margin-top: 30px;
  }
}

.containerPhotoCaption span {
  font-size: 16px;
}

#intro-container {
  width: 100%;
  background-color: #111111;
  overflow: hidden;
  position: relative;
  // margin-bottom: 75px;
  #intro-static {
    // position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    @include mobile {
      flex-wrap: wrap-reverse;
    }

    #intro-text {
      flex-basis: 40%;
      position: relative;
      @include tablet {
        flex-basis: 50%;
      }
      @include mobile {
        flex-basis: 100%;
      }

      #text-container {
        position: relative;
        top: 70%;
        transform: translateY(-50%);
        color: white;
        z-index: 2;
        padding: 50px 50px 50px 75px;
        @include desktop {
          padding-left: 55px;
        }
        @include tablet {
          font-size: 40px;
          padding-left: 35px;
        }
        @include mobile {
          position: relative;
          text-align: center;
          padding: 20px;
          margin-top: 10px;
          top: 100%;
          transform: translateY(-100%);
        }

        #headline {
          font-size: 70px;
          line-height: 0.9;
          font-weight: 500;
          text-transform: uppercase;
          font-family: $philly-sans;
          -webkit-font-smoothing: antialiased;
          @include desktop {
            font-size: 50px;
          }
          @include tablet {
            font-size: 30px;
          }
        }

        #subhead {
          font-size: 22px;
          color: $project-yellow;
          margin-top: 15px;
          font-family: $philly-sans;
          line-height: 1.3;
          -webkit-font-smoothing: antialiased;
          @include desktop {
            font-size: 20px;
          }
          @include tablet {
            font-size: 16px;
            margin-top: 10px;
          }
        }

        #byline,
        #byline a {
          color: #ddd;
          font-weight: 200;
          margin-top: 20px;
          font-size: 18px;
          @include desktop {
            font-size: 18px;
          }
          @include tablet {
            font-size: 14px;
            margin-top: 10px;
          }
        }

        #pubdate {
          color: #aaa;
          font-weight: 200;
          font-size: 12px;
          @include desktop {
            font-size: 12px;
          }
          @include tablet {
            font-size: 10px;
          }
        }
      }
    }

    #intro-images {
      height: 100%;
      flex-basis: 60%;
      position: relative;
      @include tablet {
        flex-basis: 50%;
      }
      @include mobile {
        flex-basis: 100%;
        height: 40vh !important;
      }

      div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      #intro-blur {
        width: 100%;
        height: 100%;
        background-image: url("http://media.philly.com/images/RS_x_20180330_HOPKINS08.jpg");
        z-index: 1;
        // background-color: black;
        filter: blur(5px);
        // filter: grayscale(100%);
        // -webkit-filter: blur(5px);
        // -moz-filter: blur(5px);
        // -o-filter: blur(5px);
        // -ms-filter: blur(5px);
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
      }

      #intro-clean {
        width: 100%;
        height: 100%;
        background-image: url("http://media.philly.com/images/RS_x_20180330_HOPKINS08.jpg");
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        display: none;
      }
    }
  }

  #intro-safe {
    height: 140vh;
  }
}

#texture-1 {
  position: absolute;
  opacity: 0.2;

  img {
    filter: grayscale(60%);
  }

  .gradient {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(241,241,241,1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(241,241,241,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(241,241,241,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#00ffffff', endColorstr='#f1f1f1',GradientType=0 );
    /* IE6-9 */
  }
}

.dropCap2 {
  float: left;
  color: #a33c45;
  font-size: 90px;
  padding-top: 8px;
  padding-right: 15px;
  line-height: 1;
  font-weight: 800;
  font-family: $philly-sans;
  @include mobile {
    line-height: 1;
    display: block;
    margin: 0 0.1em -0.2em 0;
    font-size: 65px;
    padding-top: 5px;
    padding-right: 5px;
  }
}

p .large-p {
  font-size: 30px;
  color: $project-red;
  @include mobile {
    font-size: 20px;
    line-height: 1;
  }
}

.fixedside {
  position: relative;
  height: auto;
  display: inline-block;
  float: right;
  margin-left: 20px;
  // max-width: 60%;
  @include desktop {
    left: 0 !important;
  };
  @include tablet {
    max-width: 55%;
  };
  @include mobile {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
  };
  @include BS-medium {
    position: absolute;
    height: auto;
    left: 100px;
    width: 100%;
    display: flex;
    max-width: none;
  };
}

.inner-container {
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 0 0 15px;
  @include mobile {
    margin: 0;
    padding: 15px 0;
  };
  @include BS-medium {
    padding: 0 20px;
    margin: 0 auto;
  };
  @include BS-large {
    // padding: 0 65px;
    max-width: 650px;
    padding-right: 60px;
  };
}

.imageFrame {
  // @include transform(rotate(1deg));
  background: white;
  border: 5px solid #fff;
  @include mobile {
    border: none;
  };
  @include BS-medium {
     @include box-shadow(3px 4px 15px 0 rgba(#000,0.3));
  };
}

.fa-youtube {
  font-size: 250%;
  color: #FF0000;
  padding-right: 5px;
  vertical-align: middle;
  @include tablet {
    font-size: 200%;
    vertical-align: sub;
  }
}

.sidebar {
  background-color: rgba(215, 215, 215, 0.3);
  padding: 15px 30px 20px;
  // border: 1px solid #ddd;
  a {
    color: #333333;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
      color: $project-red;
    }
  }

  .sidebar-text {
    margin: 10px 0;
    line-height: 1.2;
  }

  .vlw {
    display: flex;
    align-items: center;
    @include tablet {
      display: block;
    }
    h4 {
      @include tablet {
        display: inline;
      }
    }
  }
}

.containerQuote-custom {
  border-top: 2px solid $project-red;
  // border-bottom: 2px solid $project-red;
  padding: 40px 0;
  margin: 30px 0 20px;

  .containerQuoteText-custom {
    font-family: $philly-serif;
    color: #666666;
    font-size: 30px;
    font-weight: 600;
    // font-style: italic;
    position: relative;
    margin-top: -20px;

    &.quote {
      margin-top: 0;
    }

    .quote-large {
      position: absolute;
      font-size: 190px;
      margin-top: -40px;
      opacity: 0.4;
      color: $project-yellow;
      z-index: -1;

      &.left-q {
        top: -50px;
        left: -15px;
      }

      &.right-q {
        right: 0;
      }
    }
  }
}

.yt-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  font-family: $philly-sans;
  border-top: 0.5px solid #ddd;
  padding-top: 10px;
}

.yt-title {
  font-size: 28px;
  color: #333;
  font-family: $philly-serif;
}

.yt-outer {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 5px;
  height: 0;
  @include desktop {
    position: relative;
    padding-bottom: 0;
    /* 16:9 */
    padding-top: 0;
    height: auto;
  }
  @include mobile {
    margin: 0 15px;
  }
}

.yt-outer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yt-containerPhotoCaption {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px !important;
  margin-bottom: 10px;
}

.project-subhead {
  font-family: $philly-sans;
  color: $project-red;
  font-size: 28px;
  font-weight: 800;
}

.credits {
  width: 100%;
  padding: 50px 20px 20px;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: $philly-sans;

  .creditItem {
    padding: 6px 20px;
    font-weight: 500;
    color: #222;
    font-size: 14px;

    .title {
      font-weight: 100;
      color: gray;
    }
  }
}
