#strip-container {
  position: relative;

  #next-vid {
    right: 0;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00000000', endColorstr='#a6000000',GradientType=1 );
    /* IE6-9 */
  }

  #prev-vid {
    left: 0;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#a6000000', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */
  }

  .but-con {
    height: 100%;
    width: 80px;
    position: absolute;
    right: 0;
    z-index: 2;
    opacity: 0.9;
    text-align: center;
    font-size: 30px;
    cursor: pointer;


    &:hover {
      opacity: 1;
    }

    .fas {
      color: white;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #video-strip {
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.49);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.49);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    // padding: 25px 0;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
  }
}
