<script src="http://media.philly.com/storage/inquirer/Longform/Bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

<!-- <script type="text/javascript">
    $(document).ready(function() {
        var $header = $('#header');
        var hhight = $header.height();
        var $content = $(".content");
        var cpadding = $content.css("padding-top");
        $('.content').css("margin-top", "-" + cpadding);
        $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");

        $(window).resize(function() {
            var $header = $('header');
            var hhight = $header.height();
            var $content = $(".content");
            var cpadding = $content.css("padding-top");
            $('.content').css("margin-top", "-" + cpadding);
            $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");
        });
    });
</script> -->

<!-- !! The code between these tags will not show up when previewing locally, but will be included in the final bild code !! -->
<!--removeIf(build)-->
<script src="http://media.philly.com/storage/inquirer/script/LongformBootstrapCarouselE.js"></script>
<script src="http://media.philly.com/storage/inquirer/CustomShareTools/CustomShareToolsD.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#recircSpecials').load('/philly/news/special_packages/390291181.html  #morereports');
    });
</script>
<!--endRemoveIf(build)-->
