<div id="intro-container">
  <div id="intro-static">
    <div id="intro-text">
      <div id="text-container">
        <div id="headline">BREAKING&nbsp;A LONG&nbsp;SILENCE</div>
        <div id="subhead">Allentown’s Cadets are among the world’s best drum corps, and their director is a big reason why. But nine women now accuse him of sexual abuse and harassment spanning four decades.</div>
        <div id="byline">By <a href="mailto:tnadolny@phillynews.com">Tricia L. Nadolny</a></div>
        <div id="pubdate">April 5, 2018</div>
        <div alignment="true" class="custom-social-share" style="margin-top:25px;">&nbsp;</div>
      </div>
    </div>
    <div id="intro-images">
      <!-- <div id="intro-blur" class="intro-image"></div> -->
      <div id="intro-clean" class="intro-image"></div>
    </div>
  </div>
  <!-- <div id="intro-safe"></div> -->
</div>
<div id="bkgimgc">
  <div class="BackgroundImageCaption">
    Debra Barcus (center), flanked by Lee Ann Riley (left) and Linda Riley (right). All have accused Hopkins of sexual misconduct in the years that they marched with the Cadets in the 1980s. / Courtesy of Debra Barcus
  </div>
</div>
</div>
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">

      <p style="margin: 50px 0 50px !important;"><span class="large-p"><span class="dropCap2">L</span>ee Ann Riley still remembers the thrill she felt that summer evening nearly 40 years ago when the handsome, tanned assistant director of the Cadets took her and her twin sister to dinner.</p>
      <div class="fixedside" style="left: 605px; width: 488px;" id="item-0">
        <div class="inner-container">
          <img alt="" src="http://media.philly.com/images/RS_825x550_20180403_HOPKINS0801_e1.JPG">
          <div alignment="true" class="containerPhotoCredit">KYLE MONROE / For The Inquirer</div>
          <div alignment="true" class="containerPhotoCaption">
            Members of the Cadets, an elite drum corps based in Allentown, Pa. practice in 2014.
          </div>
        </div>
      </div>
      <p>The siblings were just 17 and already talented performers, having spent hours twirling batons side by side in the mirrors their mother hung&nbsp;in their Philadelphia living room. Early on they set their sights on making the color guard of the Cadets,
        a traveling drum and bugle corps that performed dazzling marching-band numbers in front of thousands of fans.</p>
      <p>George Hopkins, then 23, was a rising star on his way to becoming a drum corps legend. Within a few years, he would turn the Cadets into the nation's top team.</p>
      <p>Flattered to have been singled out amid the other performers, the sisters went to a bar that night with Hopkins and another male instructor&nbsp;for&nbsp;dinner and&nbsp;drinks. Lee Ann said she gave it little thought when, as they were leaving,
        Hopkins offered to drive her alone. Even when Hopkins pulled up to a hotel, she assumed the best&nbsp;&mdash; that the others would meet them shortly to continue their evening out.</p>
      <p>Once in the room, she realized Hopkins had something else in mind. He forced himself upon her, she said.</p>
      <p>She remembers lying&nbsp;in shock&nbsp;as Hopkins had sex with her, wondering if that&nbsp;was what it meant to be one of the assistant director&rsquo;s favorites.</p>
      <p>&ldquo;I think that&rsquo;s how I partly got through it,&rdquo; she said, &ldquo;to tell myself, &lsquo;You were chosen.&rsquo; &rdquo;</p>
      <p>Two summers later, her sister Linda said, Hopkins would single her out.</p>


    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180404_HOPKINS01_B_e1.JPG">
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Twin sisters Linda Riley, left, and Lee Ann Riley, right, shown here in their home in Langhorne, Bucks County.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">

      <p>In all, nine women have told the Inquirer and Daily News they were sexually harassed or abused by Hopkins, the longtime director of the Allentown-based Cadets. Their stories span from 1980 to as recently as a few years ago and include accusations
        of lewd comments, groping, and rape. The women ranged in age from 16 to 37 at the time of the alleged incidents.</p>
      <p>Six of Hopkins&rsquo; accusers agreed to be named. Two spoke on the condition they be kept anonymous. One permitted her first name to be used. Many of the women said that after years of silence they felt ready to come forward given the national
        reckoning over sexual harassment that has toppled the careers of powerful men in politics, media, and the arts.</p>

      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-21');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>

      <p>Some described a single unsettling moment when Hopkins crossed the line, such as 36-year-old Jess Reynolds, who said Hopkins abruptly pressed&nbsp;against her and forced a kiss&nbsp;after the two met for dinner in 2007. She shoved him off, shocked
        by her former instructor&rsquo;s behavior.</p>
      <p>&ldquo;This is somebody that, in a sense, I looked up to,&rdquo; Reynolds said. &ldquo;I was extremely disappointed.&rdquo;</p>

      {% set quote = ["In all, nine women have told the Inquirer they were sexually harassed or abused by Hopkins, the longtime director of the Allentown-based Cadets.", ""] %} {% include "partials/center-quote.html" %}

      <p>Others detailed harassment that lasted months, such as Hopkins&rsquo; most recent accuser, a woman who worked for the organization within the last few years but asked that the specific time not be shared to protect her identity.&nbsp;A former Cadet,
        she said Hopkins routinely made sexual comments that left&nbsp;her uncomfortable, such as offering&nbsp;intimate details about his sex life and asking her to share the same.</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180330_KJM_Cadets_8545_e1.jpg">
      <div alignment="true" class="containerPhotoCredit">KYLE MONROE / For the Inquirer</div>
      <div alignment="true" class="containerPhotoCaption">George Hopkins, the longtime director of the Allentown-based Cadets, has been accused of sexually harassing or assaulting nine women.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>&ldquo;Working for George was, at the beginning, something that I had always dreamed of doing,&rdquo; she said. &ldquo;And by the end, and very quickly, actually, it became clear that there were ulterior motives.&rdquo;</p>
      <p>When contacted, Hopkins declined to meet with a reporter and deferred questions to his attorney, David Blumenthal.</p>



      <div class="fixedside" style="left: 605px; width: 400px;">
        <div class="inner-container">
          <img alt="" src="http://media.philly.com/images/RS_825x550_20180404_HOPKINS0805_e1.JPG">
          <div alignment="true" class="containerPhotoCredit">KYLE MONROE / For The Inquirer</div>
          <div alignment="true" class="containerPhotoCaption">
            <div class="vlw"><a href="https://www.youtube.com/watch?v=C_K-xOxjD_8" target="_blank"><i class="fab fa-youtube">&nbsp;</i>Watch the Cadets' 2017 performance.</a></div>
          </div>
        </div>
      </div>

      <p>Provided a list of the accusations, Hopkins responded case by case, denying some&nbsp;allegations outright. For others, including those of Reynolds and the Riley sisters, he denied &ldquo;any nonconsensual relations.&rdquo; He also denied having
        &ldquo;any relations whatsoever&rdquo; with Lee Ann Riley while she was a minor. As for the most recent accuser, Hopkins, through his attorney, said he &ldquo;never discusses his nor anyone else&rsquo;s personal life with anyone at work.&rdquo;</p>
      <p>&ldquo;Many of these allegations are criminal in nature,&rdquo; Blumenthal said in an email. &ldquo;Such allegations are inflammatory and defamatory and require no further comment. &hellip; To be sure, Mr. Hopkins vehemently denies any criminal
        actions.&rdquo;
      </p>
      <p>Hopkins, 61,&nbsp;was hired by the Cadets in 1979 and became director in 1982. He&nbsp;has coached the troupe to an impressive 10 world championships while earning a spot in drum corps history as an innovator and mentor to hundreds of teens and
        young adults.</p>
      <p>The activity, which has a small but devoted following, can be likened to marching band, plus more theatrics and a grueling summer-long, coast-to-coast performance schedule. The members leave home to take part, spending virtually every moment of
        every day together.</p>
      <p>The Cadets, which were founded in 1934 in Garfield, N.J., and moved to Allentown in 2004, hold a place of prestige as one of the oldest and most competitive corps. That has earned the team, and Hopkins, national prominence. The Cadets&nbsp;<a href="https://youtu.be/sjvo2ItgYcE?t=1m25s">performed at the closing ceremony for the Atlanta Olympics</a>,
        marched in President Barack Obama&rsquo;s first inaugural parade,&nbsp;were the focus of a&nbsp;<a href="https://www.fuse.tv/shows/clash-of-the-corps">2016 reality television show</a>, and once&nbsp;<a href="https://youtu.be/e9rjUMrW6D8?t=23s">performed on&nbsp;<em>Late Night With David Letterman.</em></a></p>

      <div class="fixedside" style="left: 605px; width: 488px;">
        <div class="inner-container">
          <div class="col sidebar">
            <a href="https://www.youtube.com/watch?v=39BOk-tvPlY" target="_blank">
              <div class="vlw"><i class="fab fa-youtube">&nbsp;</i>
                <h4>'1984 Garfield Cadets — George Hopkins Interview'</h4></div>
              <div class="sidebar-text">Click to watch an interview with George Hopkins from 1984.</div>
              <img src="http://media.philly.com/images/hopkins_1984_e1.jpg" />
            </a>
          </div>
        </div>
      </div>
      <p>Hopkins is also CEO of Youth Education in the Arts, a nonprofit that runs the Cadets. It&nbsp;reaches thousands more teens and young adults through other programs, including a local dance troupe and about 150 high school band competitions it hosts
        annually in more than 30 states.</p>
      <p>The board of directors for Youth Education in the Arts was made aware of several&nbsp;of the women&rsquo;s stories in January. The women had agreed to share&nbsp;their accounts&nbsp;after being contacted by a group of&nbsp;alums&nbsp;of the organization
        who had concerns about Hopkins' leadership.</p>
      <p>Their accounts were provided to the board, without the women's names, by Kevin Hahn, an attorney working on the women's behalf. Hahn told the board's attorney, Kimberly Spotts-Kimmel, that the women were willing to be interviewed if the nonprofit
        hired an independent investigator and Hopkins was&nbsp;suspended pending the outcome of the investigation, according to correspondence between the two.</p>
      <p>The board hired Spotts-Kimmel's firm to&nbsp;investigate&nbsp;and did not suspend Hopkins. Hahn did not provide the women's names to the firm, as it represents the board.</p>
      <p>"The YEA board took the matter seriously from the moment it received the anonymous allegations in January,&rdquo; the board said in a statement. &ldquo;Though the board hired a law firm to investigate and pursued every reasonable avenue of inquiry
        available, no accusers came forward and no evidence was presented to support the allegations against its executive director.&rdquo;</p>
      <p>Asked to elaborate on what the firm's investigation entailed, the board declined.</p>
      <p>Hopkins&rsquo; accusers were once either Cadets or employees of the nonprofit.</p>
      <p>Three were performers at the time of the alleged abuse: the Riley sisters and Debra Barcus, who was in the color guard alongside the twins in the 1980s. the Cadets rose to prominence in those years, winning an unprecedented three national titles
        in a row.</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180329_HOPKINS08_b_e1.JPG">
      <div alignment="true" class="containerPhotoCredit">MICHAEL BRYANT / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Debra Barcus, of Florida, was a member of the Cadets from 1978-1985. She states she was sexually assaulted by Hopkins, when she was 16.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">

      <p>&ldquo;It was a wild ride,&rdquo; said Barcus, then known by her maiden name, Debra Gozdek. &ldquo;You're working hard. You&rsquo;re suffering. It&rsquo;s like being in the Army. You&rsquo;re up at the crack of dawn. Sun poisoning. You&rsquo;re
        almost killing yourself to be the best you can.&rdquo;</p>
        <div class="fixedside" style="left: 605px; width: 400px;">
          <div class="inner-container">
            <img alt="" class="imageFrame" src="http://media.philly.com/images/RS_x_20180403_HOPKINS08_a_e1.jpg">
            <div alignment="true" class="containerPhotoCredit">Photo courtesy of Debra Barcus</div>
            <div alignment="true" class="containerPhotoCaption">Debra Barcus performs with the Cadets in 1982 in Port Huron, Mich.</div>
          </div>
        </div>
      <p>The Cadets' training taught her to&nbsp;never complain, despite the difficulty.</p>
      <p>So that is what she did when in the summer of 1980, she said, Hopkins sat beside&nbsp;her on a darkened bus and began to grope her. She was 16. He was 23.</p>
      <p>&ldquo;I just froze,&rdquo; Barcus said. &ldquo;He was touching me, trying to kiss me, trying to push my hand down his shorts. And I wouldn&rsquo;t cooperate, but I didn&rsquo;t stop him. Because I couldn&rsquo;t get anything out of my mouth.&rdquo;</p>
      <p>Hopkins denied the allegation.</p>
      <p>Five women said&nbsp;Hopkins mistreated them while they worked for Youth Education in the Arts. Several described him as a volatile, often verbally abusive boss who micromanaged his staff.&nbsp;The&nbsp;environment and the office&rsquo;s small size
        compounded their problems. The nonprofit, with about 40 employees, had no human resources department.</p>
      <p>&ldquo;There is no clear avenue for a grievance,&rdquo; said the woman who worked at the office in recent years. &ldquo;Any path, George controlled.&rdquo;</p>
      {% set quote = ["There is no clear avenue for a grievance. Any path, George controlled.", "anonymous victim", "quote"] %} {% include "partials/center-quote.html" %}
      <p>Megh Toth, a 39-year-old mother of twins from Monroe Township, N.J., became a full-time employee in 2005. Toth, then known as Megh Healy, had already dedicated years to the organization, including five summers as a baritone horn player and several
        more working part time on tour.</p>
      <p>She called the full-time position a &ldquo;dream job.&rdquo;</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180403_HOPKINS01_I_e1.JPG">
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Megh Toth, shown here at her home in Monroe Township, N.J., was a Cadet for five years. She was hired full-time by the organization in 2005.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>In January 2006&nbsp;Hopkins asked her to travel with him to Indianapolis for the annual meeting of drum corps organizations. Hopkins announced at a staff meeting that they would share a room to save money. Toth, then 26, was uncomfortable about
        staying with her 49-year-old boss but felt she could not object in front of her coworkers.</p>
      <p>Her hesitation proved premonitory. Below is how Toth described what happened that evening:</p>
      <div class="fixedside" style="left: 605px; width: 488px;">
        <div class="inner-container">
          <img alt="" class="imageFrame" src="http://media.philly.com/images/RS_1200x800_20180403_HOPKINS01_DD_e1.JPG">
          <div alignment="true" class="containerPhotoCredit">Courtesy of Megh Toth</div>
          <div alignment="true" class="containerPhotoCaption">Megh Toth, center, in her uniform during her time with the Cadets.</div>
        </div>
      </div>
      <p>In the hotel room, as she was drifting asleep,&nbsp;Hopkins crawled into her bed and began kissing her. She tried to push him away, gently at first, then more forcefully when he continued. But her mind turned to the car she was paying off, the small
        apartment she was proud to have rented on her own, and the job she hoped would last a lifetime.</p>
      <p>She worried&nbsp;Hopkins would fire her and she would lose it all.</p>
      <p>She stopped protesting, except to keep Hopkins from penetrating her.</p>
      <p>&ldquo;I said no the entire time. I didn't want this to happen,&rdquo; Toth said. &ldquo;And then your brain just goes. Your fight is gone.&rdquo;</p>
      <p>The next morning, Hopkins kissed her before leaving to catch a flight.</p>
      <p>She cried in bed, alone.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col col-md-offset-0">
      <div class="yt-name">Megh Toth</div>
      <div class="yt-title">&ldquo;I really just froze.&rdquo;</div>
      <div class="yt-outer">
        <div class="videoWrapper">

          <iframe src="https://player.vimeo.com/video/263210552" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption yt-containerPhotoCaption">&nbsp;</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>Toth said she called a friend that morning and shared details of what had happened. That woman confirmed to a reporter that Toth told her Hopkins had made a sexual advance after he came&nbsp;into their hotel room. Twelve years later, she did not
        recall other details of the conversation but remembers&nbsp;Toth as&nbsp;inconsolable. &ldquo;She was hysterically crying,&rdquo; the woman said.</p>
      <p>Hopkins denied Toth&rsquo;s allegations, as well as those made by a now-56-year-old woman who worked for the organization in the early 1980s, after she finished her time performing with the Cadets. That woman, who agreed to share her story only
        if not named out of concerns for her privacy, said she was at the office alone one day when Hopkins came up behind her, pulled her from her chair, and walked her to a small closet.</p>
      <p>Once inside, she recalled, he pushed her to the floor, stuck his hand down her pants, and digitally penetrated her. She said she told Hopkins to stop but eventually, when he persisted, grew quiet.</p>
      {% set quote = ["I said ‘no’ the entire time. I didn't want this to happen. And then your brain just goes. Your fight is gone.", "Megh Toth", "quote"] %} {% include "partials/center-quote.html" %}
      <p>&ldquo;Back then, we didn&rsquo;t really say no too much. And I really didn&rsquo;t know I could,&rdquo; she said, softly crying. &ldquo;He tried to kiss me, and I covered my face. And I said, &lsquo;No, don't kiss me. No kissing.&rsquo; &rdquo;</p>
      <p>After some time had passed, she said, Hopkins got up, berated her for not enjoying his attention, and left.</p>
      <p>She went back to her desk and kept working.</p>
      <div class="project-subhead">&lsquo;It was my religion&rsquo;</div>
      <p>Drum corps is a&nbsp;unique and insular&nbsp;experience that draws a particularly resilient kind of young adult. For three months, devotees&nbsp;will give their every waking hour to achieve a perfectly executed 12-minute show.</p>
      <p>&ldquo;It&rsquo;s intense. It&rsquo;s ridiculous, really,&rdquo; said Toth. &ldquo;But at the time it was my religion, my everything.&rdquo;</p>
      <div class="fixedside" style="left: 605px; width: 488px;">
        <div class="inner-container">
          <div class="col sidebar">
            <a href="https://www.youtube.com/watch?v=M7L363Eqe5c" target="_blank">
              <div class="vlw"><i class="fab fa-youtube">&nbsp;</i>
                <h4>'Cadets All Access - George'</h4></div>
              <div class="sidebar-text">Click to watch 'Cadets All Access - George,' a video of George Hopkins giving one of his "Hop Talks" to the corps after a show in 2012.</div>
              <img src="http://media.philly.com/images/hopkins_peptalk_e1.jpg" />
            </a>
          </div>
        </div>
      </div>
      <p>The members, ranging in age from 16 to 22, travel from across the country and overseas and pay a steep tuition fee to be a part of the best corps. With the season's start, performers&nbsp;move into dorm rooms for a month of all-day practices. Then two months of touring culminates
        in a three-day national championship in Indianapolis.</p>
      <p>Rest days are rare, and injuries are common. Practices can stretch to 15 hours a day, regardless the weather. Performers often doze on the bus en route to the next site, then slip into sleeping bags on a gym floor before waking a few hours later
        for drills.</p>
      <p>Surviving takes as much mental as physical strength. Former Cadets describe Hopkins as a charismatic leader who pushed them to dig deep in the pursuit of excellence, both in the performance and&nbsp;their personal lives. Throughout the summer, Hopkins
        gathers the corps for &ldquo;Hop Talks,&rdquo; motivational speeches that can stretch for an hour or more.</p>
      <p>Hopkins, who was paid $176,989 in 2016 according to the nonprofit’s financial statements, often returns to the theme of personal responsibility.</p>
      <p>&ldquo;A lot of people wake up in the morning and they get up and they go: &lsquo;Boy, I wonder what kind of day I&rsquo;m going to have. I wonder how it&rsquo;s going to go. I wonder what the world is going to throw at me,&rsquo; &rdquo; Hopkins
        said in<a href="https://www.youtube.com/watch?v=c7sN3PiRGlQ">&nbsp;a 2013 promotional video</a>. &ldquo;What we try to get people to look at is the fact that they make that choice when they wake up, that I&rsquo;m going to have a great day.&rdquo;</p>
      <p>This year&rsquo;s tour, already gearing up, will take the Cadets from Seattle to Houston to Annapolis, Md. Hopkins recently announced the show&rsquo;s theme and the music lineup.</p>
      <p>It will open with a famous Simon and Garfunkel song: &ldquo;The Sound of Silence.&rdquo;</p>
      <div class="project-subhead">&lsquo;Hopkins was God&rsquo;</div>
      <p>Kim Carter had wanted to be a Cadet since the summer of 1984 when she watched the corps perform a medley from&nbsp;<em>West Side Story.</em>&nbsp;The young women in the color guard wore gold lam&eacute; blouses and billowy white skirts. To Carter,
        the show was &ldquo;the most beautiful thing in the world.&rdquo;</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180403_HOPKINS01_Q_e1.JPG">
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Kim Carter, pictured in her Warrington, Bucks County, home, marched with the Cadets for two years. She was hired by the organization in 2005.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>She auditioned and made the cut in 1987. Finally a Cadet, she basked in the applause at every performance, made friends she considered family, and&nbsp;soaked in the lessons of each Hop Talk.</p>
      <p>&ldquo;It was like Hopkins was God,&rdquo; Carter, then known as Kim Fenstermaker, said on a recent morning in her Warrington, Bucks County, home. &ldquo;When he spoke, you listened.&rdquo;</p>
      <div class="fixedside" style="left: 605px; width: 400px;">
        <div class="inner-container">
          <img alt="" class="imageFrame" src="http://media.philly.com/images/RS_1200x800_20180329_HOPKINS01_W_e1.JPG">
          <div alignment="true" class="containerPhotoCredit">Courtesy of Kim Carter</div>
          <div alignment="true" class="containerPhotoCaption">Kim Carter when she performed with the Cadets.</div>
        </div>
      </div>
      <p>After two years as a Cadet, Carter drifted away from drum corps. When she reconnected in 2005, she was 37, divorced, and a single mother living in the basement of her parents&rsquo; Lehigh Valley home. She was surviving on unemployment.</p>
      <p>She decided to volunteer for the Cadets, by then based in Allentown. That December Hopkins invited her to a play in Philadelphia, saying they would talk about the possibility of a full-time job.</p>
      <p>It was a platonic evening until, on the way to the car after the show, Hopkins grabbed her with no warning and kissed her, Carter said.</p>
      <p>&ldquo;I froze,&rdquo; she said. &ldquo;This was a man who had taught me when I was 17 and 18. This was a man I looked up to and respected and admired.&rdquo;</p>
      <p>Over the next few weeks Hopkins pursued a sexual relationship with her, Carter recalled, all the while floating the possibility of hiring her. On more than one occasion, she remembers,&nbsp;he would quip: I don&rsquo;t know if I want to sleep with
        you or hire you.</p>
      <p>Taken by the attention from a man she had long idolized, Carter&nbsp;fell into a sexual relationship with Hopkins.</p>
      <p>She soon got the job. More than once, she recalled,&nbsp;Hopkins told her their relationship had to be kept secret because the nonprofit&rsquo;s board of directors had forbidden him from dating employees. Carter said she disliked the secrecy and
        worried the relationship would interfere with her work so she attempted to cut things off.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col col-md-offset-0">
      <div class="yt-name">Kim Carter</div>
      <div class="yt-title">&ldquo;I was so afraid of being viewed as this horrible person...&rdquo;</div>
      <div class="yt-outer">
        <div class="videoWrapper">
          <iframe src="https://player.vimeo.com/video/263205609" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption yt-containerPhotoCaption">&nbsp;</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>Hopkins responded&nbsp;by interfering with her work, she said, either piling on more tasks or pitting her against other employees.</p>
      <p>&ldquo;I felt as though my job was totally based on a quid pro quo. You have sex with me, you keep your job,&rdquo; she said. &ldquo;You don't have sex with me, you&rsquo;re not going to be working here much longer.&rdquo;</p>
      <p>Carter said she&nbsp;lived with that reality for months until an incident at the office became her breaking point.&nbsp;As she described it,&nbsp;Hopkins told her he needed help finding something in a secluded part of the building. There, he pulled
        her into a closet and forced her to perform oral sex on him, she said.</p>
      <p>&ldquo;I felt like a whore. This is not me. I&rsquo;m here to do a job. I&rsquo;m here to provide for my child,&rdquo; Carter said. &ldquo;I was so hurt. I was so angry.&rdquo;</p>
      <p>She said she started refusing Hopkins' advances and&nbsp;left the job in September 2006.</p>
      <p>Hopkins denied having any nonconsensual contact with Carter.</p>
      <p>Carter said that after leaving the nonprofit she filed a sexual-harassment complaint against Hopkins with the U.S. Equal Employment Opportunity Commission. She ultimately dropped the case in large part because she did not want to hurt the Cadets.</p>
      <p>&ldquo;I don't want to be known as the person who brought down this great organization. But for my healing, I have to own what happened,&rdquo; Carter said of her decision to come forward now. &ldquo;He made me do things I really didn't want to
        do. But I did them because I wanted a job, and I wanted to be a part of this organization that I loved as a young person.&rdquo;</p>
      <div class="project-subhead">&lsquo;This felt like drowning&rsquo;</div>
      <p>One woman spoke on the condition that she be identified only by her first name, Marie,&nbsp;citing concerns for her privacy. During her time working for Youth Education in the Arts, she went by her middle name.</p>
      <p>Marie&nbsp;grew up a fan of drum corps and often saw Hopkins interviewed on television when PBS broadcast the national championships live. She came to admire him even though she never marched with the Cadets.</p>
      <p>He seemed, she said, like a &ldquo;creative genius.&rdquo;</p>

      <div class="fixedside" style="left: 605px; width: 400px;">
        <div class="inner-container">
          <img alt="" class="imageFrame" src="http://media.philly.com/images/RS_825x550_20180404_HOPKINS08_ggg_e1.jpg">
          <div alignment="true" class="containerPhotoCredit">Courtesy of Debra Barcus</div>
          <div alignment="true" class="containerPhotoCaption">Lee Ann Riley (far right) her twin sister Linda Riley (two to her left) and Debra Barcus (fourth from right) all performed with the Cadets in the 1980s.</div>
        </div>
      </div>
      <p>In 1999, Marie got a job working for Hopkins through a mutual friend. Then 29, she had just weathered a difficult breakup and was looking for a fresh start. She relocated from North Carolina&nbsp;for the job.</p>
      <p>Marie said the first few weeks were fine. But that quickly changed.</p>
      <p>While watching a Broadway show with others from the company, Hopkins reached over and started caressing her leg, Marie said. A few weeks passed and they never spoke of it.</p>



      <p>Then Hopkins started touching her at work, she said. Below is how Marie described Hopkins behavior and what she said were nearly daily assaults:</p>
      <p>At first Hopkins&nbsp;would slide&nbsp;his hand up her skirt when she stood beside his desk to get his signature.</p>
      <p>Marie took to&nbsp;standing&nbsp;with his desk between them.</p>
      <p>Hopkins&nbsp;began&nbsp;getting&nbsp;up when she came in, closing and locking&nbsp;the office door behind her. Once alone, he would fondle her breasts and kiss her, Marie said.</p>
      <p>The assaults happened not just in the office but when she and Hopkins were at off-site events. There were times&nbsp;when Hopkins came up behind her as she worked and rubbed against her, his penis erect beneath his pants, she recalled.</p>
      <p>Marie felt trapped. She had little savings and worried about being fired. So rather than push Hopkins away, she said, she would gently say no but let him kiss her neck or grope her, hoping things&nbsp;would stop there.</p>

      {% set quote = ["I just kept saying no, don’t do this, I don't want to do this. And he did it anyway.", "Marie", "quote"] %} {% include "partials/center-quote.html" %}
      <p>&ldquo;This felt like drowning,&rdquo; she said. &ldquo;It felt like, what can I do to make this go away as quickly as possible and get myself above water so I can breathe.&rdquo;</p>
      <p>The behavior&nbsp;only escalated. Marie said Hopkins started showing up at her apartment, often seemingly drunk or high. She remembers him knocking&nbsp;relentlessly on her door, to the point that her landlady, who lived in the building, threatened
        to call the police.</p>
      <p>One day while getting ready for work, she heard Hopkins knock. Marie said she was still in her robe but she let Hopkins in, intending to leave him in the living room while she went to her bedroom to&nbsp;dress. She recalls Hopkins followed her,
        badgering her for sex.</p>
      <p>Marie said she told him to leave but Hopkins pleaded, then pushed her on the bed. He unzipped his pants, pulled open her robe, and raped her, she said.</p>
      <p>&ldquo;I just kept saying no, don&rsquo;t do this, I don't want to do this,&rdquo; she said. &ldquo;And he did it anyway.&rdquo;</p>
      <p>Hopkins said he did not know who Marie is, but denied ever behaving that way with anyone.</p>

      <p>In&nbsp;the weeks after the alleged assault, Marie&nbsp;found herself emboldened.</p>
      <p>One day&nbsp;Hopkins came up behind her while she stood at a printer. When he&nbsp;rubbed against her, she shoved him away&nbsp;and told him to never touch her again, she said. Later that day, she confided in a coworker about some of the abuse.</p>

      <div class="fixedside" style="left: 605px; width: 488px;">
        <div class="inner-container">
          <div class="col sidebar">
            <a href="https://www.youtube.com/watch?v=c7sN3PiRGlQ" target="_blank">
              <div class="vlw"><i class="fab fa-youtube">&nbsp;</i>
                <h4>'What We're About: Some Insight from Hopkins'</h4></div>
              <div class="sidebar-text">Click to watch 'What We're About: Some Insight from Hopkins' where George Hopkins talks about his work with the Cadets.</div>
              <img src="http://media.philly.com/images/hopkins_2013_e1.jpg" />
            </a>
          </div>
        </div>
      </div>

      <p>That man confirmed to a reporter that Marie told him at the time that Hopkins had been sexually harassing her. &ldquo;She was visibly shaken,&rdquo; he said.</p>
      <p>Marie quit shortly after and moved back to North Carolina.</p>

      <p>By then&nbsp;she had lost more than 30 pounds. The stresses of the job, which often kept her at work until past midnight, had compounded with the stress of navigating Hopkins&rsquo; advances, she said. She remembers feeling she had lost virtually
        all control over her life, including her own body, which Hopkins had violated.</p>


      <p>Marie said she never considered filing a rape report with the police or informing the nonprofit&rsquo;s board of directors. Hopkins&nbsp;seemed &ldquo;untouchable,&rdquo; and she believed if it came down to her word against his, he would win.</p>
      <p>She also partly blamed herself, given that her family had discouraged her from moving so far from home for the job.</p>

      <p>In the years that followed, Marie occasionally volunteered for the Cadets and interacted with Hopkins. She said she&nbsp;separated what happened with Hopkins from the love she still had for the organization and its mission.</p>

      <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
              // <![CDATA[
              cX.callQueue.push(['invoke', function() {
                googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-mrec-22');
                });
              }]);
              // ]]>
            </script>
          </div>
        </div>
      </div>
      <p>She first told someone, a romantic partner, last year that she had been raped years earlier. In more recent months, as the #MeToo movement has forced a national dialogue about sexual harassment, she said she has finally stopped making excuses for
        Hopkins&rsquo; behavior.</p>
      <p>&ldquo;For years it was, &lsquo;He&rsquo;s this genius with a fatal flaw,&rsquo; &rdquo; she said. &ldquo;That&rsquo;s not what this is. &hellip; It&rsquo;s a very flawed person who's doing all these things to all these women for all this time and
        shouldn't be in a position where every year he has a new crop of women to be victimized.&rdquo;</p>
      <div class="project-subhead">&lsquo;Did you blame yourself?&rsquo;</div>
      <p>Linda Riley is still shaken by the memory of seeing her sister after Hopkins brought her back from the hotel. Lee Ann seemed&nbsp;to be in shock, Linda recalled, but was soon overcome by tears as she shared what had happened.</p>

      <p>&ldquo;I shouldn't have let her go,&rdquo; Linda, now 55, said, sobbing. &ldquo;We should have just stayed together.&rdquo;</p>
      <p>Lee Ann seemed a shell of herself in the weeks that followed, her sister said.</p>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col col-md-9">
      <img src="http://media.philly.com/images/RS_1200x800_20180403_HOPKINS01_A_e1.JPG">
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption">Twin sisters Lee Ann Riley, left, and Linda Riley, right, both say they were victimized by Hopkins when they marched with the Cadets.</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>&ldquo;You didn't laugh. You didn't talk. You didn't work,&rdquo; Linda said, sitting next to Lee Ann in the Langhorne, Bucks County, home they share. &ldquo;You didn't want to see him.&rdquo;</p>
      <p>Lee Ann briefly thought of leaving the Cadets, but she loved the activity and had worked so hard to get there. The sisters stayed.</p>
      <p>Two summers later, Linda said, Hopkins sought her out for sex. Below is how she described that day:</p>
      <p>She was practicing alone in a hallway of the school building where the performers were living when&nbsp;Hopkins came up from behind her. Michael Jackson played through her boombox. Hopkins&nbsp;asked if he could kiss her.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col col-md-offset-0">
      <div class="yt-name">Lee Ann Riley</div>
      <div class="yt-title">&ldquo;I felt so used.&rdquo;</div>
      <div class="yt-outer">
        <div class="videoWrapper">
          <iframe src="https://player.vimeo.com/video/263243436" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption yt-containerPhotoCaption">&nbsp;</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">
      <p>She let him, and things moved quickly&nbsp;to intercourse, without her consent. She worried that if she stopped him, Hopkins would send her home.</p>
      <p>&ldquo;I never said yes. And I never said no. But I never said yes,&rdquo; said Linda, who was 19 at the time. &ldquo;I felt pressured and I felt cornered. This is our director.&rdquo;</p>
      <p>When he was finished, Linda said, Hopkins got dressed and left.</p>
      <p>It took her weeks to tell her twin what had happened.</p>
      <p>In the decades that have followed, both sisters said they buried their trauma until, in their own time, they found their way to therapy. Linda pushed the memories so far away that a few years ago she spent about three weeks working part time for
        the Cadets, with little concern about seeing Hopkins. At some point, she said, she simply put what happened in the past.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col col-md-offset-0">
      <div class="yt-name">Linda Riley</div>
      <div class="yt-title">&ldquo;I didn't want to give up everything that I worked for.&rdquo;</div>
      <div class="yt-outer">
        <div class="videoWrapper">
          <iframe src="https://player.vimeo.com/video/263245206" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <div alignment="true" class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
      <div alignment="true" class="containerPhotoCaption yt-containerPhotoCaption">&nbsp;</div>
    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-1" alignment="true">

      <p>Recently, though, those memories have surfaced again, powerful and raw, and the sisters have found themselves opening up to each other with a new honesty&nbsp;about the pain they share.</p>
      <p>&ldquo;Can I ask you a question?&rdquo; Lee Ann asked her sister on a recent morning in their home. &ldquo;Did you blame yourself?&rdquo;</p>
      <p>&ldquo;Yes. I did,&rdquo; Linda said.</p>
      <p>Both paused to hold back&nbsp;tears.</p>
      <p>&ldquo;I blamed myself,&rdquo; Linda continued. &ldquo;Why couldn't I do something different? Why was I so scared, not to get out of it? Yes, I blamed myself. And I still do blame myself.&rdquo;</p>
      <p>Lee Ann nodded.</p>
      <p>&ldquo;I understand,&rdquo; she whispered. &ldquo;I totally understand.&rdquo;</p>

    </div>
  </div>
  <div class="row" alignment="true">
    <div class="col-md-12 col col-md-offset-0" alignment="true">

      <div class="credits"><span class="creditItem"><span class="title">Reporter:</span> Tricia L. Nadolny</span> <span class="creditItem"><span class="title">Editors: </span>Chris Hepp & Jim Neff</span> <span class="creditItem"><span class="title">Visuals editor:</span> Frank
        Wiese </span><span class="creditItem"><span class="title">Design and Production:</span> Jared Whalen</span> <span class="creditItem"><span class="title">Photography: </span>Jessica Griffin, Michael Bryant & Kyle Monroe</span>
        <span class="creditItem"><span class="title">Video:</span> Jessica Griffin</span> <span class="creditItem"><span class="title">Project Manager: </span>Ellen Dunkel</span>
      </div>
    </div>
  </div>
</div>


<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-2">
    <div class="backgroundImageCredit" alignment="true">Courtesy of Megh Toth</div>
  </div>
</div>
